@use "./variables";

/* ── FOOTER ── */
.home-footer {
  text-align: center;
  padding: 1.5rem 0 0.5rem;
  border-top: 1px solid #e0eef8;
  color: variables.$color-surface;
  font-size: 0.85rem;
  background-color: variables.$color-primary;
  padding: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
